<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>
    <style> </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="rebeccapurple" />
</head>
<body>
<header><h1>Fed::BOX</h1></header>
{{- $handle := .Handle -}}
<main>
    <form method="post">
{{/*        <fieldset>*/}}
{{/*            <legend>Local authentication</legend>*/}}
            <input type="hidden" name="state" value="{{.State}}" />
            <input type="hidden" name="client" value="{{.Client}}" />
            <label for="auth-handle">Handle:</label><br/>
            <input name="handle" id="auth-handle" type="text" size="40" {{ if $handle }}readonly value="{{ $handle }}" {{end -}} required/><br/>
            <label for="auth-pw">Password: </label><br/>
            <input name="pw" id="auth-pw" type="password" autofocus size="40" required/><br/>
            <button type="submit">Log in</button>
{{/*        </fieldset>*/}}
    </form>
</main>
<footer></footer>
</body>
</html>
