<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>
    <style> </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="rebeccapurple" />
</head>
<body>
<header><h1>Fed::BOX</h1></header>
<main>
    <form method="post" method="POST">
        <label for="pw">Password: </label><br/>
        <input name="pw" id="pw" type="password" size="40" required/><br/>
        <label for="pw-confirm">Retype password: </label><br/>
        <input name="pw-confirm" id="pw-confirm" type="password" size="40" required/><br/>
        <button type="submit">Update</button>
    </form>
</main>
<footer></footer>
</body>
</html>
