go 1.25.0

use .

replace (
	github.com/go-ap/activitypub => ../../go-ap/activitypub
	github.com/go-ap/auth => ../../go-ap/auth
	github.com/go-ap/cache => ../../go-ap/cache
	github.com/go-ap/client => ../../go-ap/client
	github.com/go-ap/errors => ../../go-ap/errors
	github.com/go-ap/filters => ../../go-ap/filters
	github.com/go-ap/jsonld => ../../go-ap/jsonld
	github.com/go-ap/processing => ../../go-ap/processing
	github.com/go-ap/storage-badger => ../../go-ap/storage-badger
	github.com/go-ap/storage-boltdb => ../../go-ap/storage-boltdb
	github.com/go-ap/storage-fs => ../../go-ap/storage-fs
	github.com/go-ap/storage-sqlite => ../../go-ap/storage-sqlite
)

replace (
	git.sr.ht/~mariusor/lw => ../../lw
	git.sr.ht/~mariusor/wrapper => ../../wrapper
)
